/* Reset */

body, h1, h2, h3, p, ul, li, a {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Nunito, Helvetica, Arial, sans-serif;
	color: #222222;
}

a {
	text-decoration: none;
	color: #fff;
}

img {
	max-width: 100%;
    display: block;
}

li {
	list-style: none;
}

h1 {
	font-size: 3em;
    line-height: 1;
}

* {
	box-sizing: border-box;
}

/* Grid */

.container {
	max-width: 960px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-1 {
	flex: 1 1 160px;
}

.flex-1-175 {
	flex: 1 1 175px;
}

.flex-2 {
	flex: 2 1 300px;
}

.align-itens-end {
	align-items: flex-end;
}

.just-space-between {
	justify-content: space-between;
}

.just-space-around {
	justify-content: space-around;
}

.m-10 {
	margin: 10px;
}

.pd-0-10 {
	padding: 0 10px;
}

.pd-10 {
	padding: 10px;
}

.pl-10 {
	padding-left: 10px;
}

.pr-10 {
	padding-right: 10px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pd-60-0 {
	padding: 60px 0;
}

/* Super-info Menu */
.super-info {
	background: #122ab2;
	width: 100%;
	color: #fff;
}

.super-info a {
	padding: 0 10px;
}


/* Menu */
.menu {
	background: #2c70ff;
	color: #fff;
}

.menu .flex {
	align-items: center;
}

.menu-logo a {
	font-size: 2.25em;
	font-weight: bold;
}

.menu li a {
	padding: 15px 0px 15px 20px;
	font-size: 1.25em;
	display: block;
	font-weight: bold;
}

.menu li a:hover {
	color: #122ab2;
}

/* INTRO */

.intro h1 {
	font-size: 3em;
    line-height: 1;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Sobre */

.sobre .container {
	border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
}

.sobre h1 {
	margin-bottom: .5em;
	font-size: 3em;
}

.sobre-info p {
	font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

/* Produtos */

.produtos-item {
    background: #f7f7f7;
}

.produtos-item h2 {
	font-size: 3em;
    color: #a4a4a4;
    padding: 60px 20px; 
}

.purple {
	border-top: 8px solid #ae81ff;
}

.red {
	border-top: 8px solid #f9265e;
}

.blue {
	border-top: 8px solid #66d9eb;
}


/* Preço */
.price {
    background: #f7f7f7;
}

.price .flex {
	align-items: flex-end;
}

.price-item {
	border: 5px solid #fff;
	padding: 40px 30px;
}

.price-item h2 {
	font-size: 3em;
    color: #a4a4a4;
    padding: 20px 20px; 
}

.price-item span {
	max-width: 300px;
    margin: 20px auto;
    display: block;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.price-item sup {
    font-size: 1.5rem;
}

.price ul li {

}

.price ul li::after {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	background: blue;
	border-radius: 10px;
	float: right;
}

.price a {
	display: block;
	color: #000;
	border: 5px solid #000;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2em;
}

/* Qualidade */
.qualidade .container {
	margin: 60px auto;
    flex-wrap: wrap;
}

.qualidade-item {
	flex: 1 1 300px;
    margin: 20px 10px;
}

/* Newsletter */
.newsletter {
    background: #f7f7f7;
}

.footer {
	background: #2c70ff;
	padding: 90px;
	color: #122ab2;
}




@media (max-width: 739px) {

	.m-auto {
		margin: 0 auto;
	}

	.flex-column {
		flex-direction: column;
	}

	.menu .container {
		flex-direction: column;
		margin: 0 auto;
	}

	.menu-itens li a {
		font-size: 1.15em;
		padding: 10px;
	}

	.menu-logo {
		margin: 0 auto;
	}

}

